.head-img{
    width: 100%;

}
.head-img-slogan{
    margin-top: -580px;
    margin-left: 120px;
}
.search-container{
    width: 100%;
    text-align: center;
    margin-top: 555px;
}
.head-search-box{
    font-size: 55px;
    margin: 0 auto;
    padding: 30px;
}

.search-box{
    width: 360px;
    height: 60px;
    border-radius: 25px 25px 10px 25px;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.informaion-container{
margin: 57px 0px;
height: 30rem;
}
.img-container{
    margin: 0px 765px 0px 0px;
}
.img-info{
    width: 645px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}
.info{
    width: 634px;
    margin: -440px 0px 140px 785px;
}
.heading-info{
font-size: 35px;
margin: 25px;
}
.para-info{
    font-size: 20px;
    text-align: left;
}
.informaion-container-two{
    width: 89rem;
    margin: 50px auto;
    text-align: center;
}
.bike-title{
    width: 650px;
    height: 500px;
    margin: 45px 0px 0px 0px;
    font-size: 25px;
}
.bike-name{
    font-size: 30px;
    margin: 15px;
}
.bike-need{
    font-size: 15px;
    margin: 20px;
    text-align: left;
} 
.bike-img-container{
    width: 40rem;
    margin: -500px 0px 0px 725px;
}
.bike-img{
    width: 630px;
    height: 410px;
    object-fit: contain;
    border-radius: 50px; 
}
.categories-container{
    margin-top: 540px;
    box-shadow: 5px 10px 35px 1px grey;
    /* margin: 600px 20px 10px; */
    margin: 20px;
}
.categories-head{
    margin: 5px 20px;
    padding: 15px;
}
.categories-cards{
    margin: 20px auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.heading-card{
    margin: 55px 0;
}
.cards{ 
    width: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}
.card:hover{
    box-shadow: 0px 0px 35px 1px rgb(144, 146, 146);
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}
.card{
    width: 150px;
    height: 100px;
    border-radius: 20px 20px 5px;
}
.img-change-container{
    margin: 60px 0;
 text-align: center;
}
.spots-img{
width: 50%;
height: 350px;
object-fit: cover;
border-radius: 40px 0 40px 0;
box-shadow: 0px 0px 50px 10px rgb(136, 134, 134);
}
.img-changer{
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 20px 20px 30px gray;
    border-radius: 0 0 35px 35px;
}
.spot-img-changes{
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 45px;
    margin: 5px;
    cursor: pointer;
}
.spot-img-changes:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 25px rgb(111, 202, 241);
}
.randomPlace{
    text-align: center;
    margin: 55px;
}
.randomPlaceHead{
    margin: 15px;
}
.randomPlaceImg{
    margin: 50px;
}
.randomImg{
    width: 50%;
    box-shadow: 0px 0px 25px 10px rgb(124, 123, 123);
}
.randomPlaceName{
    margin: 15px;
}
.btn-go{
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 15px 0px 15px 0px;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    cursor: pointer;
}
.btn-go:hover{
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    transform: scale(1.1);
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 25px rgb(104, 105, 105);
}