.head-img{
    width: 218.5vh;
    height: 100vh;
    margin: 12px auto;
}
.head-img-slogan{
    margin-top: -580px;
    margin-left: 120px;
}
.search-container{
    width: 100%;
    height: 800px;
    text-align: center;
    margin-top: 570px;
}
.head-search-box{
    font-size: 55px;
    width: 650px;
    margin: 0 auto;
    padding: 30px;
}

.search-box{
    width: 360px;
    height: 60px;
    border-radius: 25px 25px 10px 25px;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.informaion-container{
    position: relative;
    margin: 15px 0;
}
.img-container{
    position: absolute;
    left: 40px;
    top: 25px;

}
.img-info{
    width: 570px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}
.info{
    width: 750px;
    height: 450px;
    position: absolute;
    right: 100px;
    top: -30px;
}
.heading-info{
font-size: 25px;
}
.para-info{
    font-size: 17px;
}
.informaion-container-two{
    margin: 80px auto;
    text-align: center;
    position: relative;
}
.bike-title{
    width: 650px;
    height: 500px;
    margin-top: 70px;
    margin-left: 85px;
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 40px;
}
.bike-name{
    font-size: 25px;
}
.bike-need{
    font-size: 15px;
} 
.bike-img{
    width: 630px;
    height: 410px;
    object-fit: contain;
    border-radius: 70px;
    position: absolute;
    right: 20px;
    top: 130px;
}
.categories-container{
    margin-top: 540px;
    box-shadow: 5px 10px 35px 1px grey;
    margin: 600px 20px 10px;
}
.categories-head{
    margin: 5px 20px;
    padding: 15px;
}
.categories-cards{
    margin: 20px auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.cards{ 
    width: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;

}
.card{
    width: 150px;
    height: 100px;
    border-radius: 20px 20px 5px;
}