.head-img{
    width: 218.5vh;
    height: 100vh;
    margin: 160px auto;
}
.head-img-slogan{
    margin-top: -580px;
    margin-left: 120px;
}
.search-container{
    width: 100%;
    height: 800px;
    text-align: center;
    margin-top: 380px;
}
.head-search-box{
    font-size: 55px;
    width: 650px;
    margin: 0 auto;
    padding: 30px;
}

.search-box{
    width: 360px;
    height: 60px;
    border-radius: 25px 25px 10px 25px;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.informaion-container{
    position: relative;
    margin: 15px 0;
}
.img-container{
    position: absolute;
    left: 40px;
    top: 25px;

}
.img-info{
    width: 570px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}
.info{
    width: 750px;
    height: 450px;
    position: absolute;
    right: 100px;
    top: 25px;
}
.heading-info{
font-size: 25px;
}
.para-info{
    font-size: 17px;
}
.informaion-container-two{
    margin: 160px auto;
    text-align: center;
    position: relative;
}
.bike-title{
    width: 650px;
    height: 500px;
    margin-top: 70px;
    margin-left: 85px;
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 40px;
}
.bike-name{
    font-size: 25px;
}
.bike-need{
    font-size: 15px;
} 
.bike-img{
    width: 630px;
    height: 410px;
    object-fit: contain;
    border-radius: 70px;
    position: absolute;
    right: 20px;
    top: 130px;
}
.categories-container{
    margin-top: 540px;
    box-shadow: 5px 10px 35px 1px grey;
    margin: 600px 20px 10px;
}
.categories-head{
    margin: 5px 20px;
    padding: 15px;
}
.categories-cards{
    margin: 20px auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.heading-card{
    margin: 55px 0;
}
.cards{ 
    width: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}
.card:hover{
    box-shadow: 0px 0px 35px 1px rgb(144, 146, 146);
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}
.card{
    width: 150px;
    height: 100px;
    border-radius: 20px 20px 5px;
}
.img-change-container{
    margin: 60px 0;
 text-align: center;
}
.spots-img{
width: 50%;
height: 350px;
object-fit: cover;
border-radius: 40px 0 40px 0;
box-shadow: 0px 0px 50px 10px rgb(136, 134, 134);
}
.img-changer{
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 20px 20px 30px gray;
    border-radius: 0 0 35px 35px;
}
.spot-img-changes{
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 45px;
    margin: 5px;
    cursor: pointer;
}
.spot-img-changes:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 25px rgb(111, 202, 241);
}
@media screen and (max-width: 600px){
   
    .head-img{
        width: 37.5rem;
        height: 21rem;
        margin: 160px auto;
    }
    .head-img-slogan{
        color:#f0f8ff;
        margin-top: -334px;
        margin-left: 50px;
    }
    .search-container{
        width: 100%;
        height: 800px;
        text-align: center;
        margin-top: 165px;
    }
    .head-search-box{
        font-size: 40px;
        width: 300px;
        margin: -13px auto;
        padding: 30px;
    }
    
    .search-box{
        width: 430px;
        height: 80px;
        border-radius: 25px 25px 10px 25px;
        margin: 10px auto;
        padding: 5px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
    }
    
    .informaion-container{
        margin: 15px 0;
    }
    .img-container{
        position: absolute;
        left: 40px;
        top: 25px;
    
    }
    .img-info{
        width: 525px;
        height: 450px;
        object-fit: cover;
        border-radius: 25px;
        margin: 600px 0px 0px 0px;
    }
    .info{
        width: 470px;
        height: 645px;
        padding: 15px;
    }
    .heading-info{
        font-size: 34px;
        width: 26rem;
        margin: 15px;
    }
    .para-info{
        font-size: 17px;
    }
    .informaion-container-two{
        margin: 760px 0px 0px auto;
        text-align: center;
    }
    .bike-title{
        width: 447px;
        height: 500px;
    }
    .bike-name{
        font-size: 20px;
        width: 400px;
    }
    .bike-need{
        font-size: 15px;
        text-align: left;
        margin: 5px;
    } 
    .bike-img{
        width: 555px;
        height: 410px;
        object-fit: contain;
        border-radius: 200px;
        margin: 385px 0px 0px 0px;
    }
    .categories-container{
        box-shadow: 5px 10px 35px 1px grey;
        margin: 925px 20px 10px;
        min-width: 35rem;
    }
    .categories-head{
        text-align: center;
        margin: -25px 0px;
        padding: 15px;
    }
    .categories-cards{
        flex-wrap: wrap;
        padding: 40px;
        min-width: 35rem;
    }
    .cards{ 
        width: 200px;
        margin: 11px 0;
        text-align: center;
        border-radius: 20px;
    }
    .card{
        width: 200px;
        height: 100px;
        border-radius: 20px 20px 5px;
    }
    .img-change-container{
        margin: 110px 0;
        text-align: center;
    }
    .spots-img{
        width: 90%;
        height: 280px;
        object-fit: cover;
        border-radius: 40px 0 40px 0;
        box-shadow: 0px 0px 50px 10px rgb(136, 134, 134);
    }
    .img-changer{
        margin: -60px 20px 0px 20px;
        padding: 10px;
        text-align: center;
        box-shadow: 20px 20px 30px gray;
        border-radius: 35px;
    }
    .spot-img-changes{
        width: 150px;
        height: 90px;
        object-fit: cover;
        border-radius: 45px;
        margin: 8px;
        cursor: pointer;
    }
    .spot-img-changes:hover{
        transform: scale(1.1);
        transition: 0.5s ease-out;
        box-shadow: 0px 0px 25px rgb(71, 74, 76);
    }
}
@media screen and (min-width:600px) and (max-width:768px){
    .head-img{
        width: 48rem;
        height: 23rem;
        margin: 160px auto;
    }
    .head-img-slogan{
        color:#f0f8ff;
        margin-top: -334px;
        margin-left: 50px;
    }
    .search-container{
        width: 100%;
        height: 800px;
        text-align: center;
        margin-top: 165px;
    }
    .head-search-box{
        font-size: 40px;
        width: 33rem;
        margin: -13px auto;
        padding: 30px;
    }
    
    .search-box{
        width: 430px;
        height: 80px;
        border-radius: 25px 25px 10px 25px;
        margin: 10px auto;
        padding: 5px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
    }
    
    .informaion-container{
        margin: -35px 0;
        width: 46rem;
    }
    .img-container{
        position: absolute;
        left: 40px;
        top: 25px;
    
    }
    .img-info{
        width: 43rem;
        height: 24rem;
        object-fit: cover;
        border-radius: 25px;
        margin: 485px 0px 0px 0px;
        box-shadow: 0px 0px 20px 5px #6d6a6a;
    }
    .info{
        width: 44rem;
        margin: 0px -100px 0px 0px;
        padding: 2rem;
    }
    .heading-info{
        font-size: 34px;
        width: 28rem;
        margin: 15px auto;
    }
    .para-info{
        font-size: 17px;
    }
    .informaion-container-two{
        margin: 435px 0px 0px 0px;
        text-align: center;
    }
    .bike-title{
        margin: 40px 0px 0px 55px;
    }
    .bike-name{
        font-size: 20px;
        width: 37rem;
        margin: -15px 0px 30px 0px;
    }
    .bike-need{
        font-size: 15px;
        text-align: left;
        margin: 5px;
    } 
    .bike-img{
        width: 35rem;
        object-fit: contain;
        border-radius: 200px;
        margin: 282px 100px 0px 0px;
    }
    .categories-container{
        box-shadow: 5px 10px 35px 1px #726e6e;
        margin: 835px 20px 10px;
        min-width: 35rem;
    }
    .categories-head{
        text-align: center;
        margin: -25px 0px;
        padding: 15px;
    }
    .categories-cards{
        flex-wrap: wrap;
        padding: 40px;
        min-width: 35rem;
    }
    .cards{ 
        width: 200px;
        margin: 11px 0;
        text-align: center;
        border-radius: 20px;
    }
    .card{
        width: 200px;
        height: 100px;
        border-radius: 20px 20px 5px;
    }
    .img-change-container{
        margin: 110px 0;
        text-align: center;
    }
    .spots-img{
        width: 90%;
        height: 280px;
        object-fit: cover;
        border-radius: 40px 0 40px 0;
        box-shadow: 0px 0px 50px 10px rgb(136, 134, 134);
    }
    .img-changer{
        margin: -60px 20px 0px 20px;
        padding: 10px;
        text-align: center;
        box-shadow: 20px 20px 30px gray;
        border-radius: 35px;
    }
    .spot-img-changes{
        width: 150px;
        height: 90px;
        object-fit: cover;
        border-radius: 45px;
        margin: 8px;
        cursor: pointer;
    }
    .spot-img-changes:hover{
        transform: scale(1.1);
        transition: 0.5s ease-out;
        box-shadow: 0px 0px 25px rgb(71, 74, 76);
    }

}
@media screen and (min-width:768px) and (max-width:992px){
    .head-img{
        width: 54.35rem;
        height: 23rem;
        margin: 140px auto;
    }
    .head-img-slogan{
        color: #f0f8ff;
        margin-top:-315px;
        margin-left: 50px;
    }
    .search-container{
        width: 100%;
        height: 800px;
        text-align: center;
        margin-top: 165px;
    }
    .head-search-box{
        font-size: 40px;
        width: 33rem;
        margin: -13px auto;
        padding: 30px;
    }
    
    .search-box{
        width: 430px;
        height: 80px;
        border-radius: 25px 25px 10px 25px;
        margin: 10px auto;
        padding: 5px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
    }
    
    .informaion-container{
        margin: -35px 0;
        width: 46rem;
    }
    .img-container{
        position: absolute;
        left: 40px;
        top: 25px;
    
    }
    .img-info{
        width: 49rem;
        height: 24rem;
        object-fit: cover;
        margin: 500px 0px 0px 0px;
        border: none;
        box-shadow: 0px 0px 20px 5px #6d6a6a;
    }
    .info{
        width: 50rem;
        margin: 0px -190px 0px 0px;
        padding: 2rem;
    }
    .heading-info{
        font-size: 34px;
        width: 28rem;
        margin: 15px auto;
    }
    .para-info{
        font-size: 17px;
    }
    .informaion-container-two{
        margin: 435px 0px 0px 0px;
        text-align: center;
    }
    .bike-title{
        margin: 40px 0px 0px 55px;
    }
    .bike-name{
        font-size: 20px;
        width: 37rem;
        margin: -15px 0px 30px 0px;
    }
    .bike-need{
        font-size: 15px;
        text-align: left;
        margin: 5px;
    } 
    .bike-img{
        width: 35rem;
        object-fit: contain;
        border-radius: 200px;
        margin: 282px 100px 0px 0px;
    }
    .categories-container{
        box-shadow: 5px 10px 35px 1px #726e6e;
        margin: 835px 20px 10px;
        min-width: 35rem;
    }
    .categories-head{
        text-align: center;
        margin: -25px 0px;
        padding: 15px;
    }
    .categories-cards{
        flex-wrap: wrap;
        padding: 40px;
        min-width: 35rem;
    }
    .cards{ 
        width: 200px;
        margin: 11px 0;
        text-align: center;
        border-radius: 20px;
    }
    .card{
        width: 200px;
        height: 100px;
        border-radius: 20px 20px 5px;
    }
    .img-change-container{
        margin: 110px 0;
        text-align: center;
    }
    .spots-img{
        width: 90%;
        height: 280px;
        object-fit: cover;
        border-radius: 40px 0 40px 0;
        box-shadow: 0px 0px 50px 10px rgb(136, 134, 134);
    }
    .img-changer{
        margin: -60px 20px 0px 20px;
        padding: 10px;
        text-align: center;
        box-shadow: 20px 20px 30px gray;
        border-radius: 35px;
    }
    .spot-img-changes{
        width: 150px;
        height: 90px;
        object-fit: cover;
        border-radius: 45px;
        margin: 8px;
        cursor: pointer;
    }
    .spot-img-changes:hover{
        transform: scale(1.1);
        transition: 0.5s ease-out;
        box-shadow: 0px 0px 25px rgb(71, 74, 76);
    }

}
@media screen and (min-width:992px) and (max-width:1200px){

}