.head-img{
    width: 218.5vh;
    height: 100vh;
    margin: 160px auto;
}
.head-img-slogan{
    margin-top: -580px;
    margin-left: 120px;
}
.search-container{
    width: 100%;
    height: 800px;
    text-align: center;
    margin: 380px 0px 150px 0px;
}
.head-search-box{
    font-size: 55px;
    width: 650px;
    margin: 0 auto;
    padding: 30px;
}

.search-box{
    width: 360px;
    height: 60px;
    border-radius: 25px 25px 10px 25px;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.informaion-container{
    position: relative;
    margin: 15px 0;
}
.img-container{
    position: absolute;
    left: 40px;
    top: 25px;

}
.img-info{
    width: 570px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}
.info{
    width: 750px;
    height: 400px;
    position: absolute;
    right: 100px;
    top: 35px;
}
.heading-info{
font-size: 25px;
}
.para-info{
    font-size: 17px;
}
.informaion-container-two{
    margin: 80px auto;
    text-align: center;
}
.bike-title{
    width: 650px;
    height: 500px;
    margin: 150px 0px 50px 85px;
    font-size: 25px;
}
.bike-name{
    font-size: 20px;
}
.bike-need{
    font-size: 15px;
} 
.bike-img-container{
    width: 630px;
    margin: -610px 0px 50px 800px;
}
.bike-img {
    width: 450px;
    height: 410px;
    object-fit: contain;
    border-radius: 252px;
}
.map{
    border-radius: 35px;
}
.video-blog{
    text-align: center;
}
.youtbe-blogs-video{
    margin: 10px;
    padding: 15px;
    border-radius: 0px 35px 0px 35px;
}
.footer-box{
    color: #000000;
}
@media screen and (max-width:600px){

}
@media screen and (min-width:600px) and (max-width:768px){

}@media screen and (min-width:768px) and (max-width:992px){

}
@media screen and (min-width:992px) and (max-width:1200px){

}