@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

body {
    background-color:  #d5dee7;
}
.main-cointainer {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-cointainer {
    border-radius: 10px 0;
    height: 600px;
    width: 900px;
    margin-right: 200px;
    display: flex;
}

.login-form {
    border-radius: 10px 0 0 10px;
    background-color: rgb(223 215 215);
    width: 500px;
    height: 600px;
    
}

.login-button {
    width: 150px;
    margin-left: 120px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    border-radius: 18px;
    border: solid 1px #565c5a;
    padding: 10px 15px;
    cursor: pointer;
}

.login-button:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: solid 1px #589abc;
    box-shadow: gray 0px 5px 10px;
    transition: 0.5s;
}

.login-logo {
    width: 300px;
    margin: 10px 60px;
}

.input-field {
    background-color: transparent;
    border: none;
    border-bottom:1px solid white;
    border-radius: 10px;
    margin: 20px 60px;
    padding: 10px;
    font-size: 20px;
    
}

.sign-up-link {
    margin-left: 150px;
    font-size: larger;
    text-decoration: none;
    color: black;
}

.cover-photo {
    border-radius: 0 10px 10px 0;
    width: 700px;
    height: 600px;
}

.login-msg{
    color: red;
    margin-top: 0%;
    text-align: center;
}
