.head-img{
    width: 100%;
    height: 700px;

}
.head-search-box{
    text-align: center;
}
.lonavala-intro-text {
    text-align: center;
    font-size: 20px;
}
.btn-search {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    width: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 43px;
    border: none;
    cursor: pointer;
}

.btn-search:hover {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    box-shadow: rgb(8, 7, 7) 0px 0px 10px;
    transition: 0.1s;
    border: solid white 2px;
    color: white;
}
.search-container{
    width: 100%;
    text-align: center;
}
.search-box{
    width: 360px;
    height: 60px;
    border-radius: 25px 25px 20px 25px;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.img-info{
    width: 570px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}
.info{
    width: 750px;
    height: 450px;
    position: absolute;
    right: 100px;
    top: -30px;
}
.heading-info{
    font-size: 25px;
    }
    .para-info{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 200px;
    }
    .information-container{
        width: 100%;
        height: 600px;
        background-color: #d5dee7;
        display: flex;
        margin: 80px auto;
        text-align: center;
        position: relative;
    }
    .image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        border-radius: 20px;
    }
    .lonavala-img{
        height: 450px;
        width: 600px;
        border-radius: 20px;

    }
    .search-info-title {
        margin-top: 20%;
        text-align: center;
        
    }
    .google-map {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .g-map{
        border-radius: 20px;
        border: none;
    }

    .map-coordinates {
        width: 50%;
        text-align: center;
    }

    .location {
        display: flex;
    }
    .Route{
     font-size: 20px;
    }
    .Co-ordiantes-text{
        color:cornflowerblue
    }
    .co-link{
        color: blue;
        text-decoration: none;
    }
    .accs-imgs{
        height: 100px;
        width: 100px;
        border-radius: 20px;
       justify-content: space-evenly;
    


       
    }