
body {
    background-color:  #f1e9e2;
}
.main-cointainer {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-cointainer {
    background-color: rgb(236, 227, 215);
    height: 700px;
    width: 900px;
    display: flex;
}

.signup-form {
    background-color:rgb(223 215 215);
    width: 400px;
    height: 700px;
    
}

.signup-btn {
    margin-left: 130px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, rgb(194, 193, 193) 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    border-radius: 18px;
    border: solid 1px #565c5a;
    padding: 10px 15px;
    cursor: pointer;
}

.signup-btn:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: solid 1px #589abc;
    box-shadow: gray 0px 5px 10px;
    transition: 0.5s;
}

.login-logo {
    width: 300px;
    margin: 10px 60px;
}

.input-field {
    background-color: transparent;
    border: none;
    border-bottom:1px solid white;
    border-radius: 10px;
    margin: 20px 60px;
    padding: 10px;
    font-size: 20px;
}


.link {
    margin-left: 160px;
    font-size: larger;
    text-decoration:none ;
    color: rgb(14, 149, 10);
}
