.heading-img {
    width: 100%;
    height: 600px;
    margin-top: 10px;
}

.head-title {
    text-align: center;
    font-size: 50px;
}

.input-options{
    width: 360px;
    height: 60px;
    border-radius: 25px 25px 20px 25px;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.search-container{
    width: 100%;
    text-align: center;
}

.search-content {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #d5dee7;
    border-radius: 20px;
}

.search-img-section {
    
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-info {
    width: 50%;
    height: 600px;
}

.spiti-vally-img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.search-info{
   text-align: center;
}

.place-info {
    font-size: 30px;
    font-weight: bold;
}

.spiti-intro {
    text-align: center;
    font-size: 20px;
}

.spiti-intro-text {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.search-info-title {
    margin-top: 20%;
}

.road-map {
    border: none;
    border-radius: 20px;

}

.location {
    height: 600px;
    width: 100%;
    display: flex;
    background-color: #d5dee7;
} 

.google-map {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-coordinates {
    width: 50%;
    height: 600px;
    text-align: center;
}

.route-info {
    font-size: 20px;
}

.coordinates-text {
    color: cornflowerblue;
}

.co-link {
    text-decoration: none;
    color: blue;
}

.bike-accessories {
    display: flex;
    justify-content: center;
}

.accessories-heading {
    text-align: center;
    font-size: 40px;
}

.accessories-imgs {
    border-radius: 10px;
    height: 500px;
    border: 1px solid black;

}

.sub-acc {
    width: 90px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}


.sub-imgs {
    display: flex;
    justify-content: center;
}

.img-name {
    text-decoration: none;
}

.buy-btn {
    margin-left: 45%;
}

.accessories-container {
    background-color: whitesmoke;
}