* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #87796e 100%);
    color: #160808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: gray 0px 8px 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0 100px;
}

.nav-links li {
    padding: 0 15px;
    font-size: 20px;
}

.nav-links li a {
    color: #1b1a1a;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: rgb(255, 0, 0);
}

.hamburger {
    display: none; /* Hide hamburger menu by default */
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
.font-style{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  }


.logo {
    width: 15rem;
}
.swtich-btn {
    width: 360px;
    padding: 35px;
    margin: 0px 0px 0px -50px ;
}
.moods{
    margin: -25px 0px 0px 160px;
    width: 120px;
}
.login-btn {
    text-decoration: none;
    margin: 0px 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    border-radius: 18px;
    border: solid 1px #565c5a;
    padding: 15px;
    cursor: pointer;
}

.login-btn:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: solid 1px #589abc;
    box-shadow: gray 0px 5px 10px;
    transition: 0.5s;
}

.login-img {
    width: 35px;
    margin: -11px 5px;
}

.theme-btn {
    width: 45px;
    margin: -14px 5px;
    cursor: pointer;
}


.active-one{
    filter: drop-shadow( 0px 0px 10px #fffbfb);
    border-radius: 35px;
}
.active-two{
   filter: drop-shadow( 0px 0px 10px #fffdfd);
    border-radius: 35px;
}
.bg-light{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    color: #000000;
    min-height: 100vh;
}
.bg-black{
   background-color: #000000;
     color: #DCD9D4;
     min-height: 100vh;
}
.categories-box{
    color: #000000;
    background-color: #bcbcbc;
    box-shadow: 5px 10px 25px 15px rgb(249, 248, 248) ;
    border-radius: 0px 0px 35px 35px;
}
.footer-box{
    color: #000000;
}

.btn-search {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    width: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 43px;
    border: none;
    cursor: pointer;
}

.btn-search:hover {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    box-shadow: rgb(8, 7, 7) 0px 0px 10px;
    transition: 0.1s;
    border: solid white 2px;
    color: white;
}

.footer-1 {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;   
}
.footer1-1{
    margin:  0;
}
.footer-img {
    width: 350px;
}
.footer-link {
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.footer-link-tile {
    font-size: 25px;
    margin: 20px;
} 
.footer-social-icon {
    width: 50px;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.footer-social-icon:hover {
    box-shadow: #48fa69 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}
.links{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        transition: all 0.3s ease;
    }

    .nav-links.active {
        display: flex;
        margin: 100px 0px 0px 0px;;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 28px -50px 0px 0px;
    }
   
}