body {
    margin: 0;
    padding: 0;
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
}
.font-style{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.nav-bar {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    height: 140px;
    box-shadow: gray 0px 8px 15px;
}

.logo {
    width: 300px;
}

.navbar-name-container {
    width: 700px;
    text-align: center;
    margin: -76px 280px;
    padding: 30px;

}

.navbar-name {
    margin: 20px 25px;
    font-size: 20px;
    cursor: pointer;
}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    color: #2e7cca;
}

.swtich-btn {
    width: 265px;
    padding: 45px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.login-btn {
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    border-radius: 18px;
    border: solid 1px #565c5a;
    padding: 10px 15px;
    cursor: pointer;
}

.login-btn:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: solid 1px #589abc;
    box-shadow: gray 0px 5px 10px;
    transition: 0.5s;
}

.login-img {
    width: 35px;
    margin: -11px 5px;
}

.theme-btn {
    width: 50px;
    margin: -14px 29px;
    cursor: pointer;
}

/* Search btn */
.btn-search {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    width: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 43px;
    border: none;
    cursor: pointer;
}

.btn-search:hover {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    box-shadow: rgb(8, 7, 7) 0px 0px 10px;
    transition: 0.1s;
    border: solid white 2px;
    color: white;
}

.footer-1 {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 80px 0px 0px 0px;
}

.footer-img {
    width: 450px;
}
.footer-link {
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.footer-link-tile {
    font-size: 25px;
} 
.footer-social-icon {
    width: 50px;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.footer-social-icon:hover {
    box-shadow: #48fa69 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}
